@import "../../../styles//constants";

.container {
    background-color: $white;
    .midFooterContainer{
        padding: 2vw;
    }
    .mobileOnly{
        display: none;
        @media(max-width:500px){
            display: block;
            margin: auto;
            text-align: center;
        }
        button{
            color: $mainColor;
            border: none;
            background: transparent;
            margin-bottom: 2vw;
        }
    }
    .wrapper{
        display: flex;
        padding: 2vw 4vw;
        flex-wrap: wrap;
        @media (max-width:767px){
            flex-direction: column;
        }
    }
    img{
        display: flex;
        margin: auto;
        width: 100%;
          height: auto;
        @media (max-width:767px){
          margin: 2vw auto;
        }
    }
    span{
        margin: 1vw 2vw ;
        font-size: .9vw;
        color: #929292;
        @media (max-width:767px){
             font-size: $subTitleMobileFont;
        }
    }
}
