@import "../../styles//constants";

.container {
    margin: .5vw auto 0;
  background-color: $landingPagebg;
  .seperator {
    border-width: 3px;
    border-top: 3px;
    border-bottom: 0;
    border-style: solid;
    border-image: linear-gradient(
        to left,
        rgb(255, 255, 255),
        $yellow,
        $yellow,
        rgb(255, 255, 255)
      )
      100% 1;
  }
  .specialOfferWrapper {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 9vw 0 4vw;
    @media (max-width: 500px) {
      padding: 10vw 2vw 4vw;
    }
  }
}
