
// variables
$mainColor: #22b0f0;
$subMainColor: #1d4164;
$navbgColor:#28527a;
$greyBlack:#484848;
$landingPagebg:#FCFCFC;
$grey: #929292;
$white:#fcfcfc;
$shadow: 0px 3px 6px #00000029;
$yellow:#f9ba32;
$smallFontSize:.9vw;
$titleDesktop:2.5vw;
$titleMobileFont:3.2vw;
$subTitleMobileFont:3vw;
$regularMobileFont:2.5vw;

// mixins

@mixin Button {
    background: $mainColor;
    border:1px solid $mainColor;
    color: #fff;
    cursor: pointer;
    box-shadow: none;
    min-width: 4vw;
    // display: flex;
    padding: 1rem;
    max-width: 8vw;
    border-radius: 3px;
  }

  @mixin anchorLink {
    color: $grey;
    font-size:.9vw ;
    text-decoration: none;
    @media (max-width:767px){
      font-size: $regularMobileFont;
    }
  }