
// variables
$mainColor: #22b0f0;
$subMainColor: #1d4164;
$navbgColor:#28527a;
$greyBlack:#484848;
$landingPagebg:#FCFCFC;
$grey: #929292;
$white:#fcfcfc;
$shadow: 0px 3px 6px #00000029;
$yellow:#f9ba32;
$smallFontSize:.9vw;
$titleDesktop:2.5vw;
$titleMobileFont:3.2vw;
$subTitleMobileFont:3vw;
$regularMobileFont:2.5vw;

// mixins

@mixin Button {
    background: $mainColor;
    border:1px solid $mainColor;
    color: #fff;
    cursor: pointer;
    box-shadow: none;
    min-width: 4vw;
    padding: 1rem;
    max-width: 8vw;
    border-radius: 3px;
  }

  @mixin anchorLink {
    color: $grey;
    font-size:.9vw ;
    text-decoration: none;
    @media (max-width:767px){
      font-size: $regularMobileFont;
    }
  }
  @mixin sectionTitle{
    color: $navbgColor;
    font-size: $titleDesktop;
    font-weight: 600;
    display: flex;
    margin: 0 1vw 2vw;
    @media(max-width:767px){
      font-size: $titleMobileFont;
    }
  }

  @mixin rightArrowButton{
    display: flex;
    position: absolute;
    top: -5vw;
    right: 4.5vw;
    @media (max-width: 500px) {
      top: -7vw;
    }
    &::before {
      display: inline-block;
      width: 4em;
      height: 5em;
      border: none;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45.483' height='45.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Right_arrow' transform='translate(3435.241 2978.741)'%3E%3Cg id='Ellipse_46' data-name='Ellipse 46' transform='translate(-3435.241 -2978.741)' fill='%23fff' stroke='%2322b0f0' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3411.931 -2962.054)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%2322b0f0'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      text-indent: -9000px;
      text-transform: capitalize;
      cursor: pointer;
      @media (max-width: 1115px) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35.483' height='35.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Right_arrow' transform='translate(3435.241 2978.741)'%3E%3Cg id='Ellipse_46' data-name='Ellipse 46' transform='translate(-3435.241 -2978.741)' fill='%23fff' stroke='%2322b0f0' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3411.931 -2962.054)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%2322b0f0'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      @media (max-width: 375px) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.483' height='25.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Right_arrow' transform='translate(3435.241 2978.741)'%3E%3Cg id='Ellipse_46' data-name='Ellipse 46' transform='translate(-3435.241 -2978.741)' fill='%23fff' stroke='%2322b0f0' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3411.931 -2962.054)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%2322b0f0'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }
  }

  @mixin leftArrowButton{
    display: flex;
    position: absolute;
    top: -5vw;
    left: 89vw;
    @media (max-width: 1115px) {
      left: 89vw;
    }
    @media (max-width: 971px) {
      left: 88vw;
    }
    @media (max-width: 851px) {
      left: 86vw;
    }
    @media (max-width: 751px) {
      left: 85vw;
    }
    @media (max-width: 651px) {
      left: 83vw;
    }
    @media (max-width: 590px) {
      left: 81vw;
    }
    @media (max-width: 500px) {
      left: 77vw;
      top: -7vw;
    }
    @media (max-width: 375px) {
      left: 79vw;
      top: -7vw;
    }
    &::before {
      display: inline-block;
      width: 5em;
      height: 5em;
      border: none;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45.483' height='45.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Left_arrow' transform='translate(3511.241 2978.741)'%3E%3Cg id='Ellipse_136' data-name='Ellipse 136' transform='translate(-3445.759 -2913.259) rotate(180)' fill='%23fff' stroke='%2322b0f0' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3469.069 -2929.946) rotate(180)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%2322b0f0'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      text-indent: -9000px;
      text-transform: capitalize;
      cursor: pointer;
      @media (max-width: 1115px) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35.483' height='35.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Left_arrow' transform='translate(3511.241 2978.741)'%3E%3Cg id='Ellipse_136' data-name='Ellipse 136' transform='translate(-3445.759 -2913.259) rotate(180)' fill='%23fff' stroke='%2322b0f0' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3469.069 -2929.946) rotate(180)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%2322b0f0'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      @media (max-width: 375px) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.483' height='25.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Left_arrow' transform='translate(3511.241 2978.741)'%3E%3Cg id='Ellipse_136' data-name='Ellipse 136' transform='translate(-3445.759 -2913.259) rotate(180)' fill='%23fff' stroke='%2322b0f0' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3469.069 -2929.946) rotate(180)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%2322b0f0'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }

  }
