@import ".//constants";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

// main carousel 

.slick-dots.slick-thumb {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  @media (max-width: 1000px) {
    bottom: -1.6vw;
    justify-content: space-around !important;
  }
  @media (max-width: 600px) {
    justify-content: center !important;
    bottom: -6vw;
  }
}

.slick-dots.slick-thumb li {
  width: 5vw;
  height: 1vw;
  margin: 0 3px;
  transition: all 0.5s ease-in-out;
  @media (max-width: 1000px) {
    margin: 0 3vw;
  }
  img {
    @media (max-width: 600px) {
      visibility: hidden;
    }
  }
  @media (max-width: 600px) {
    margin: 0 0.5vw;
    width: 10px !important;
    background-size: cover !important;
    height: 10px !important;
    border-radius: 50px !important;
    color: #000 !important;
    background: $mainColor !important;
    border-color: $mainColor !important;
  }
}
@media (max-width: 600px) {
  .slick-dots.slick-thumb li.slick-active {
    background: $yellow !important;
    border-color: $yellow !important;
  }
}

.slick-dots.slick-thumb li.slick-active a img {
  border: 2px solid $yellow;
  border-radius: 3px;
}



// custom slider  

.oneRowSliderContainer{
  position: relative;
}
.sliderTop{
  display: flex;
  justify-content: space-between;
}
.sliderTitle{
  @include sectionTitle;

}
.sliderButtons{
  display: flex;
  justify-content: flex-end;
}
.sliderButtons__wrapper{
  display: flex;
  justify-content: space-between;

  .next{
      @include rightArrowButton; 
     }
     .prev {
       @include leftArrowButton;
     }
  }

.oneRowSliderContainer .slick-slide img {
  width: 100%;
}
.slick-arrow{
  display: none !important;
}

.brandsWrapper{
  background-color: $navbgColor;
  padding: 4vw 2vw 3vw;  
  overflow: hidden;
  @media (max-width:499px){
    padding: 10vw 0vw 5vw;
  }
  }

.brandsWrapper .oneRowSliderContainer .next {
  @include rightArrowButton;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35.483' height='35.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Right_arrow' transform='translate(3435.241 2978.741)'%3E%3Cg id='Ellipse_46' data-name='Ellipse 46' transform='translate(-3435.241 -2978.741)' fill='%2328527a' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3411.931 -2962.054)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%23fff'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  @media (max-width: 1115px) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.483' height='25.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Right_arrow' transform='translate(3435.241 2978.741)'%3E%3Cg id='Ellipse_46' data-name='Ellipse 46' transform='translate(-3435.241 -2978.741)' fill='%2328527a' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3411.931 -2962.054)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%23fff'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}
.brandsWrapper .oneRowSliderContainer .prev {
  @include leftArrowButton;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35.483' height='35.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Left_arrow' transform='translate(3511.241 2978.741)'%3E%3Cg id='Ellipse_136' data-name='Ellipse 136' transform='translate(-3445.759 -2913.259) rotate(180)' fill='%2328527a' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3469.069 -2929.946) rotate(180)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%23fff'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    @media (max-width: 1115px) {
      width: 2rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.483' height='25.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Left_arrow' transform='translate(3511.241 2978.741)'%3E%3Cg id='Ellipse_136' data-name='Ellipse 136' transform='translate(-3445.759 -2913.259) rotate(180)' fill='%2328527a' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3469.069 -2929.946) rotate(180)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%23fff'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
}

.privilageWrapper{
  padding: 4vw 2vw 4vw;
  @media(max-width:499px){
    padding: 8vw 0
  }
}

.privilageWrapper .oneRowSliderContainer .next {
  @include rightArrowButton;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35.483' height='35.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Right_arrow' transform='translate(3435.241 2978.741)'%3E%3Cg id='Ellipse_46' data-name='Ellipse 46' transform='translate(-3435.241 -2978.741)' fill='%23fff' stroke='%2322b0f0' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3411.931 -2962.054)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%2322b0f0'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    @media (max-width: 1115px) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.483' height='25.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Right_arrow' transform='translate(3435.241 2978.741)'%3E%3Cg id='Ellipse_46' data-name='Ellipse 46' transform='translate(-3435.241 -2978.741)' fill='%23fff' stroke='%2322b0f0' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3411.931 -2962.054)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%2322b0f0'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}
.privilageWrapper .oneRowSliderContainer .prev {
  @include leftArrowButton;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35.483' height='35.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Left_arrow' transform='translate(3511.241 2978.741)'%3E%3Cg id='Ellipse_136' data-name='Ellipse 136' transform='translate(-3445.759 -2913.259) rotate(180)' fill='%23fff' stroke='%2322b0f0' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3469.069 -2929.946) rotate(180)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%2322b0f0'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    @media (max-width: 1115px) {
      width: 2rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.483' height='25.483' viewBox='0 0 65.483 65.483'%3E%3Cg id='Left_arrow' transform='translate(3511.241 2978.741)'%3E%3Cg id='Ellipse_136' data-name='Ellipse 136' transform='translate(-3445.759 -2913.259) rotate(180)' fill='%23fff' stroke='%2322b0f0' stroke-width='1'%3E%3Ccircle cx='32.741' cy='32.741' r='32.741' stroke='none'%3E%3C/circle%3E%3Ccircle cx='32.741' cy='32.741' r='32.241' fill='none'%3E%3C/circle%3E%3C/g%3E%3Cg id='right-arrow' transform='translate(-3469.069 -2929.946) rotate(180)'%3E%3Cg id='Group_1214' data-name='Group 1214'%3E%3Cpath id='Path_303' data-name='Path 303' d='M119.83,14.8,105.541.513a1.76,1.76,0,0,0-2.484,0L102,1.565a1.759,1.759,0,0,0,0,2.484l12,12L101.991,28.06a1.761,1.761,0,0,0,0,2.484l1.052,1.052a1.76,1.76,0,0,0,2.484,0l14.3-14.3a1.773,1.773,0,0,0,0-2.493Z' transform='translate(-101.478)' fill='%2322b0f0'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
}

.brandsWrapper .sliderTitle{
  color:$white;
}